/* index.html section including header and footer */
* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/prism/prism.png"); 
    background-color: #999999;
    margin: auto;
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    margin: 0px 0px 20px 0px;
    top:0;

}

main {
    background-color: #ffffff;
    border: 2px solid #dddddd;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
}

footer {
    background-color: #666666;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 10px solid #4aaaa5;
    height: 60px;
    color: #ffffff;
    text-align: center;
    vertical-align: bottom;

}

h2, h3 {
    margin: 0px 0px 30px 0px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

h1 {
    height: 100%;
    background-color: #4aaaa5;
    vertical-align: middle;
    top: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 a {
    display: block;
    font-family:'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
}

hr {
    color: #777777;
}

a {
    padding:10px;
    text-decoration: none;
    color: #777777;
}

a:visited {
    text-decoration: none;
}

a:hover {
    background-color: #555;
    color: white;
}

#navBar {
    display: block;
    justify-content: flex-end;
    height: 100%;
    margin-right:0;
    margin-top:auto;
    margin-bottom:auto;
    font-size: 24px;
}

#block {
    display: flex;
    width: 960px;
    justify-content: space-between;
    margin:auto;
    flex-flow: nowrap;
}

#copyright {
    padding-top: 15px;
    font-size: 12px;
    vertical-align: bottom;
    margin-bottom: 0;
    bottom: 0;
}

#selfie {
    float: left;
    margin: 10px 10px 10px 10px;
    overflow: auto;
}


/* contact.html section */
#name, #email, #message {
    width: 100%;
    margin: 5px 0px 15px 0px;
    
}

#name, #email {
    padding: 5px;
}

#message { 
    height: 150px;
}

/* portfolio.html section */
.hobby-containers {
    height: 150px;
    width: 150px;
    background: lightgray;
    
}